
/**************

FOR CHARTS, ICONS, ETC

**************/


#chart_div{
	margin: auto;
	text-align: center;
}

#sm-icons{
	margin: 20px auto 0 auto;
	text-align: center;	
}

#sm-icons > a > img{
	width: 20px;
	margin-left: 5px;
}