
/**************

FOR TYPE

**************/

body{
	font-family: 'Karla', sans-serif;
	background-color: #F8F8F8;
}

h1{
	font-weight: bold;
}

#bio{
	text-align: center;
	margin: 25px auto;
	padding: 0 20px;
	max-width: 750px;
}

#disclaimer{
	font-style: italic;
	color: #E0E0E0;
	font-size: 0.8em;
	text-align: center;
	margin: 10px auto;
	padding: 0 20px;
}

/************************* Link bubbles **************************/


a, a:hover, a:active, a:focus {
    padding: 0.05em 0.35em;
    margin: 0.05em 0.05em;
    display: inline-block;
    border-radius: 0.25em;
    color:white;
    font-weight: bold;
	text-decoration: none;
}


.eng-student 			{background: #14A697;}
.eng-student:hover		{background: #12897A;}

.auto-espresso 			{background: #F2C12E;}
.auto-espresso:hover	{background: #D6A52B;}

.music 					{background: #F29D35;}
.music:hover			{background: #D68432;}

.nerd					{background: #F25252;}
.nerd:hover				{background: #D84C4C;}