
/**************

FOR TYPE

**************/

body{
	font-family: 'Karla', sans-serif;
	background-color: #F8F8F8;
}

h1{
	font-weight: bold;
}

#bio{
	text-align: center;
	margin: 25px auto;
	padding: 0 20px;
	max-width: 750px;
}

#disclaimer{
	font-style: italic;
	color: #E0E0E0;
	font-size: 0.8em;
	text-align: center;
	margin: 10px auto;
	padding: 0 20px;
}

/************************* Link bubbles **************************/


a, a:hover, a:active {
    padding: 0.05em 0.35em;
    margin: 0.05em 0.05em;
    display: inline-block;
    border-radius: 0.25em;
    color:white;
    font-weight: bold;
	text-decoration: none;
}


#swinburne 				{background: #14A697;}
#swinburne:hover		{background: #14A697;}

#auto-espresso 			{background: #F2C12E;}
#auto-espresso:hover	{background: #F2C12E;}

#big-words 				{background: #F29D35;}
#big-words:hover		{background: #F29D35;}

#nerd					{background: #F25252;}
#nerd:hover				{background: #F25252;}